# Database & Auth
MONGODB_URI=mongodb+srv://user:pass@cluster.mongodb.net/dbname
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=change_this_password
ADMIN_SESSION_SECRET=your_admin_session_secret

# PayHere Gateway Configuration
NEXT_PUBLIC_PAYHERE_MERCHANT_ID=1211149
PAYHERE_MERCHANT_SECRET=your_payhere_merchant_secret
NEXT_PUBLIC_PAYHERE_MODE=sandbox
NEXT_PUBLIC_PAYHERE_JS_URL=https://sandbox.payhere.lk/payhere.js

# Payzy Payment Gateway
PAYZY_BASE_URL=https://api.payzypay.xyz
PAYZY_SHOP_ID=2
PAYZY_SECRET_KEY=$2b$12$82C876HIXARFRAF8iQB6JO2C5Zc9NeEZqCwcLY2eJe2klTw.EGvWy
PAYZY_TEST_MODE=on

# Store Details
NEXT_PUBLIC_STORE_WHATSAPP_NUMBER=94741117981
NEXT_PUBLIC_STORE_PHONE=0741117981
NEXT_PUBLIC_STORE_EMAIL=zerolagtek@gmail.com
NEXT_PUBLIC_SITE_URL=http://localhost:3000

# Cloudinary
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=cloud_name
CLOUDINARY_API_KEY=api_key
CLOUDINARY_API_SECRET=api_secret

# Brevo SMTP
BREVO_API_KEY=brevo_api_key
BREVO_SENDER_EMAIL=zerolagtek@gmail.com
BREVO_SENDER_NAME="ZeroLag Tek Store"
